<a href="https://colab.research.google.com/github/AmpiWilton/juan-python/blob/main/PythonIntroductory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# My Apuntes de Python
### Fundamnetos de Programacion 202420

**Nombre:** Juan Pablo Wilton

__Email:__juan.wiltoncha@upb.edu.co

*Fecha de creacion: 20 de agosto, 2024

Exelsius!

In [11]:
# Mis primeros pasos con Python

print("Hola mundo")
print("Ahhhh")
print("juan pablo")

name = "juan pablo"
age = 18
city = "Sahagun"

print("Hola,mi nombre es",Name, "tengo" , age , "años y soy de" , city)

# Numeros
a = 10
b = 2.5
c = a + b
print(c)

# Tipos de datos
print(type(a))
print(type(b))
print(type(c))

Hola mundo
Ahhhh
juan pablo
Hola,mi nombre es juan Pablo tengo 18 años y soy de Sahagun
12.5
<class 'int'>
<class 'float'>
<class 'float'>

In [9]:
# Operaciones Matematicas Basicas

print(3 + 2)
print(3 - 2)
print(3 * 2)
print(3 / 2)
print(3 % 2)
print(3 ** 2)
print(3 // 2)

5
1
6
1.5
1
9
1

In [16]:
# Concatenacion

name = "juan pablo"
Lastname = "wilton"
fullname = name + ' ' + Lastname
print("_" * 20)
print(fullname)
# print(fullname + ' ')
print("_" * 20)

____________________
juan pablo wilton
____________________

In [18]:
# Incrementos

a = 20
print("a =", a)
b = 10
a += b
print("a =", a)
a -= b
print("a =", a)
a *= b
print("a =", a)
a /= b
print("a =", a)

a = 20
a = 30
a = 20
a = 200
a = 20.0

In [22]:
# Multi-line

song = """
Puedo ser, de que no te acordaras mañana
No sabrán lo que paso en tu cama
De mi boca nunca va a salir
Que yo sé, que aunque le eras fiel a solo un hombre
Esa noche gritabas mi nombre
Las paredes nada van a decir
"""
print(song)

Puedo ser, de que no te acordaras mañana
No sabrán lo que paso en tu cama
De mi boca nunca va a salir
Que yo sé, que aunque le eras fiel a solo un hombre
Esa noche gritabas mi nombre
Las paredes nada van a decir